body {
    background-color: beige;
}
nav {
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: center;
}
footer {
    text-align: center;
    margin-right: 200px;
}
.memes {
    margin-right: 200px;
}
header {
    text-align: center;
}
