body {
    background-color: antiquewhite;
    margin-left: 10%;
    margin-right: 10%;
}
h1{
    text-align: center;
    border-bottom: solid;
    border-width: 2px;
}
h2{
    text-align: center;
    margin-bottom: 5%;
}
.plantsContainer {
    margin: 20px 20px 20px 20px;

}
.statsContainer {

}
button {

}